@page
@model IndexModel


<form method="post">
    <div class="form-group row">
        <div class="col-3">
            <label>Enter the Image Tag..</label>
        </div>
        <div class="col-3">
            <input asp-for="Tag" class="form-control" />
        </div>
        <div class="col-3">
            <button type="submit" value="Search" class="btn btn-primary form-control">Search</button>
        </div>
    </div>
</form>

